body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F3E9DC;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.grid-item {
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    width: 124px;
    height: 124px;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: opacity 0.2s ease;/* To animate the opacity of the cell */
}

/* To disable the click event when the cell is loading */
.grid-item.loading {
    pointer-events: none;
}

/* To show the loading spinner */
.grid-item.loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* To spin the loading spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
